body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #f1dca7, #d08c60);
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #797d62;
  margin: 10px;
}
a:hover {
  color: #9b9b7a;
}